{
  "name": "auth0_client",
  "type": "auth0",
  "description": "Auth0 SPA client credentials for user authentication",
  "tags": ["auth0", "authentication", "oauth"],
  "data": {
    "domain": "mestumre-development.us.auth0.com",
    "client_id": "Jqop7YoaiZalLHdBRo5ScNQ1RJhbhbDN",
    "client_secret": "YOUR_AUTH0_CLIENT_SECRET_HERE",
    "audience": "https://mestumre-development.us.auth0.com/me/",
    "grant_types": ["password", "authorization_code"],
    "token_endpoint": "https://mestumre-development.us.auth0.com/oauth/token",
    "userinfo_endpoint": "https://mestumre-development.us.auth0.com/userinfo"
  }
}
