{
  "name": "sf_test",
  "type": "snowflake",
  "description": "Test Snowflake connection for NoETL data transfer",
  "tags": ["test", "snowflake", "transfer"],
  "data": {
    "sf_account": "<YOUR_SNOWFLAKE_ACCOUNT>",
    "sf_user": "<YOUR_USERNAME>",
    "sf_password": "<YOUR_PASSWORD>",
    "sf_warehouse": "COMPUTE_WH",
    "sf_database": "TEST_DB",
    "sf_schema": "PUBLIC",
    "sf_role": "SYSADMIN"
  }
}
