apiVersion: v1
kind: Service
metadata:
  name: superset
  namespace: analytics
  labels:
    app: superset
spec:
  type: NodePort
  selector:
    app: superset
  ports:
    - name: http
      port: 8088
      targetPort: 8088
      nodePort: 30888
