.idea
.venv
*.iml
*.pyc
target
.classpath
.settings
.project
.pydevproject
.DS_Store
*.log
clusterManagement/out
clusterManagement/clients
build/
dist/
logs/
*.egg-info/
.env.prod
.env.local
.secrets/
node_modules/
ui-src/node_modules/
documentation/node_modules/
data/noetldb/
.vscode/
.vscode-test/
.env.tradetrend
# Test data and temporary files
tests/fixtures/playbooks/**/test_data/
tests/fixtures/playbooks/**/temp/
.*
# Virtual environments
publish_env/
test_env/
*.venv/
venv/
env/
data/.venv/
.vscode/launch.json
# Terraform
.terraform*
/.vscode/
/status.json.clean
/status.json
/tests/fixtures/credentials/gcs_hmac_local.json

# --- Docker ---
# Ignore local build tag
.noetl_last_build_tag.txt

# --- Kind ---
# Ignore folder with postgres data
ci/kind/cache

.git
__pycache__
