# Example environment file
# Copy this file to create your environment-specific files:
# - .env.common - Common variables for all environments
# - .env.dev - Development environment variables
# - .env.prod - Production environment variables
# - .env.local - Local overrides

PRJDIR="$(pwd)"
ENVIRONMENT="demo"
GOOGLE_CLOUD_PROJECT="noetl-demo-19700101"
SERVICE_ACCOUNT_EMAIL="noetl-service-account@noetl-demo-19700101.iam.gserviceaccount.com"
GOOGLE_APPLICATION_CREDENTIALS=".secrets/noetl-service-account.json"
GOOGLE_SECRET_POSTGRES_PASSWORD="projects/1014428265962/secrets/postgres-dev-password/versions/1"
GOOGLE_SECRET_API_KEY="projects/166428893489/secrets/api-dev-key"
GCS_ENDPOINT=https://storage.googleapis.com
GCS_REGION=us-central1
# LASTPASS_USERNAME="dev-user@noetl.io"
# LASTPASS_PASSWORD="dev-password"

