.idea
.venv
*.iml
*.pyc
target
secrets
.classpath
.settings
.project
.pydevproject
.DS_Store
*.log
clusterManagement/out
clusterManagement/clients
build/
dist/
*.egg-info/
.env.prod
.env.local
/.secrets/

# Virtual environments
publish_env/
test_env/
*.venv/
venv/
env/
