include README.md
include LICENSE
include pyproject.toml
recursive-include noetl *.py
recursive-include noetl/ui *
recursive-include noetl/ui/static *
recursive-include noetl/ui/templates *
include noetl/ui/__init__.py
include noetl/ui/static/__init__.py
include noetl/ui/templates/__init__.py
graft noetl/ui
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
global-exclude *.so
exclude .gitignore
exclude .env*
exclude docker-compose*.yml
exclude Dockerfile*
exclude uv.lock
