apiVersion: v1
kind: Service
metadata:
  name: gui
  namespace: {{ .Values.namespace }}
  labels:
    app: gui
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    app: gui
