apiVersion: apps/v1
kind: Deployment
metadata:
  name: noetl-server
  namespace: noetl
  labels:
    app: noetl-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: noetl-server
  template:
    metadata:
      labels:
        app: noetl-server
    spec:
      containers:
        - name: noetl-server
          # image name and tag must be patched dynamically
          image: image_name:image_tag
          ports:
            - containerPort: 8082
          envFrom:
            - configMapRef:
                name: noetl-config
            - secretRef:
                name: noetl-secret
          volumeMounts:
            - name: noetl-data
              mountPath: /opt/noetl/data
            - name: noetl-logs
              mountPath: /opt/noetl/logs
          command: ["noetl"]
          args: ["server", "start", "--init-db"]
          resources:
            limits:
              cpu: "2"
              memory: "2Gi"
            requests:
              cpu: "100m"
              memory: "256Mi"
          livenessProbe:
            httpGet:
              path: /api/health
              port: 8082
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /api/health
              port: 8082
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
      volumes:
        - name: noetl-data
          persistentVolumeClaim:
            claimName: noetl-data
        - name: noetl-logs
          persistentVolumeClaim:
            claimName: noetl-logs
