apiVersion: apps/v1
kind: Deployment
metadata:
  name: noetl-server
  namespace: noetl
  labels:
    app: noetl-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: noetl-server
  template:
    metadata:
      labels:
        app: noetl-server
    spec:
      containers:
        - name: noetl-server
          # image name and tag must be patched dynamically
          image: local/noetl:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8082
          envFrom:
            - configMapRef:
                name: noetl-server-config
            - secretRef:
                name: noetl-secret
          volumeMounts:
            - name: noetl-data
              mountPath: /opt/noetl/data
            - name: noetl-logs
              mountPath: /opt/noetl/logs
          command: ["python"]
          args: ["-m", "noetl.server", "--host", "0.0.0.0", "--port", "8082"]
          resources:
            limits:
              cpu: "2"
              memory: "2Gi"
            requests:
              cpu: "100m"
              memory: "256Mi"
          livenessProbe:
            httpGet:
              path: /api/health
              port: 8082
            initialDelaySeconds: 120
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
          readinessProbe:
            httpGet:
              path: /api/health
              port: 8082
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 12
      volumes:
        - name: noetl-data
          persistentVolumeClaim:
            claimName: noetl-data-shared # Use shared RWX PVC for DuckDB files
        - name: noetl-logs
          persistentVolumeClaim:
            claimName: noetl-logs
