# create .env file from the example

# application configuration
APP_PORT=8008
# APP_BIND=0.0.0.0
# APP_WORKERS=5
#############################
# logging
#   LOG_FORMAT : text|json
#   LOG_LEVEL  : debug|info|warn|error
#############################
LOG_FORMAT=text
LOG_LEVEL=debug

POSTGRES_HOST=localhost
POSTGRES_PORT=54321
POSTGRES_USER=demo
POSTGRES_PASSWORD=demo
POSTGRES_DATABASE=demo_noetl



# ////////////////////////////
# DATABASE_URL configuration needs for sqlx migrations and successful resolve of sqlx macros sqlx::query! and sqlx::query_as!
DATABASE_URL=postgres://demo:demo@localhost:54321/demo_noetl
SQLGEN_MODEL_OUTPUT_FOLDER=./src/models/
SQLGEN_MODEL_FOLDER=./src/models/
SQLGEN_MIGRATION_OUTPUT=./migrations
