apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: gateway
  labels:
    app: gateway
spec:
  type: NodePort
  selector:
    app: gateway
  ports:
  - name: http
    port: 8090
    targetPort: 8090
    nodePort: 30090
    protocol: TCP
