kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: noetl
nodes:
  - role: control-plane
    extraPortMappings:
        # NOETL
      - containerPort: 30082 
        hostPort: 8082
        listenAddress: "127.0.0.1" # optional: set the bind address on the host. 0.0.0.0 is the current default
        protocol: TCP # optional: set the protocol to one of TCP, UDP, SCTP. TCP is the default

        # Postgers
      - containerPort: 30321
        hostPort: 54321
        listenAddress: "127.0.0.1"
        protocol: TCP

        # Grafana
      - containerPort: 30300
        hostPort: 3000
        listenAddress: "127.0.0.1"
        protocol: TCP

        # VictoriaLogs
      - containerPort: 30428
        hostPort: 9428
        listenAddress: "127.0.0.1"
        protocol: TCP

        # ClickHouse HTTP
      - containerPort: 30123
        hostPort: 30123
        listenAddress: "127.0.0.1"
        protocol: TCP

        # ClickHouse Native
      - containerPort: 30900
        hostPort: 30900
        listenAddress: "127.0.0.1"
        protocol: TCP

        # Qdrant HTTP
      - containerPort: 30633
        hostPort: 30633
        listenAddress: "127.0.0.1"
        protocol: TCP

        # Qdrant gRPC
      - containerPort: 30634
        hostPort: 30634
        listenAddress: "127.0.0.1"
        protocol: TCP

        # NATS Client
      - containerPort: 30422
        hostPort: 30422
        listenAddress: "127.0.0.1"
        protocol: TCP

        # NATS Monitoring
      - containerPort: 30822
        hostPort: 30822
        listenAddress: "127.0.0.1"
        protocol: TCP

    # ci/kind/cache added to .gitignore
    extraMounts:
      - hostPath: ci/kind/cache/pg-data
        containerPath: /mnt/data/pg-data

      - hostPath: ci/kind/cache/noetl-data
        containerPath: /mnt/data/noetl-data

      - hostPath: ci/kind/cache/noetl-logs
        containerPath: /mnt/data/noetl-logs
