{"openapi":"3.0.0","info":{"title":"IB REST API","description":"The IB REST API reference documentation","contact":{"name":"API support","email":"api@interactivebrokers.com"},"version":"2.21.0"},"externalDocs":{"description":"Find out more about IB's public API offerings.","url":"https://ibkrcampus.com/ibkr-api-page/ibkr-api-home/"},"servers":[{"url":"https://api.ibkr.com","description":"Production"},{"url":"https://qa.interactivebrokers.com","description":"Sandbox"}],"tags":[{"name":"Account Management Accounts","x-displayName":"Accounts","x-ib-tag-group-name":"Account Management"},{"name":"Account Management Banking","x-displayName":"Banking","x-ib-tag-group-name":"Account Management"},{"name":"Account Management Reports","x-displayName":"Reports","x-ib-tag-group-name":"Account Management"},{"name":"Account Management Utilities","x-displayName":"Utilities","x-ib-tag-group-name":"Account Management"},{"name":"Authorization SSO Sessions","x-displayName":"SSO Sessions","x-ib-tag-group-name":"Authorization"},{"name":"Authorization Token","x-displayName":"Token","x-ib-tag-group-name":"Authorization"},{"name":"Trading Accounts","x-displayName":"Accounts","x-ib-tag-group-name":"Trading"},{"name":"Trading Alerts","x-displayName":"Alerts","x-ib-tag-group-name":"Trading"},{"name":"Trading Contracts","x-displayName":"Contracts","x-ib-tag-group-name":"Trading"},{"name":"Trading FA Allocation Management","x-displayName":"FA Allocation Management","x-ib-tag-group-name":"Trading"},{"name":"Trading FYIs and Notifications","x-displayName":"FYIs and Notifications","x-ib-tag-group-name":"Trading"},{"name":"Trading Market Data","x-displayName":"Market Data","x-ib-tag-group-name":"Trading"},{"name":"Trading OAuth 1.0a","x-displayName":"OAuth 1.0a","x-ib-tag-group-name":"Trading"},{"name":"Trading Orders","x-displayName":"Orders","x-ib-tag-group-name":"Trading"},{"name":"Trading Portfolio","x-displayName":"Portfolio","x-ib-tag-group-name":"Trading"},{"name":"Trading Portfolio Analyst","x-displayName":"Portfolio Analyst","x-ib-tag-group-name":"Trading"},{"name":"Trading Scanner","x-displayName":"Scanner","x-ib-tag-group-name":"Trading"},{"name":"Trading Session","x-displayName":"Session","x-ib-tag-group-name":"Trading"},{"name":"Trading Watchlists","x-displayName":"Watchlists","x-ib-tag-group-name":"Trading"},{"name":"Trading Websocket","x-displayName":"Websocket","x-ib-tag-group-name":"Trading"},{"name":"Utilities Echo","x-displayName":"Echo","x-ib-tag-group-name":"Utilities"}],"paths":{"/acesws/{accountId}/signatures-and-owners":{"get":{"tags":["Trading Accounts"],"summary":"Signatures And Owners","description":"Receive a list of all applicant names on the account and for which account and entity is represented.","parameters":[{"name":"accountId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","description":"The account identifier to receive information for"}}],"responses":{"200":{"description":"An object containing valid accounts and the account properties regarding trading access. This endpoint is also used to confirm account validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/signatureAndOwners"},"examples":{"success":{"value":{"accountId":"U1234567","users":[{"roleId":"OWNER","hasRightCodeInd":true,"entity":{"entityType":"INDIVIDUAL","entityName":"John Smith","firstName":"John","lastName":"Smith"}}],"applicant":{"signatures":["John Smith"]}}}}}}},"400":{"description":"bad request; accountId is empty","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/errorResponse"},"examples":{"accountId-is-empty":{"value":{"error":"Bad Request: accountId needed","statusCode":400}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"servers":[{"url":"https://api.ibkr.com/v1/api","description":"Trading Production Base URL"},{"url":"https://api.ibkr.com/alpha/api","description":"Trading Alpha Base URL"}],"x-ib-provider":"iblink"}},"/fyi/deliveryoptions":{"get":{"tags":["Trading FYIs and Notifications"],"summary":"Get Delivery OptionsCopy Location","description":"Options for sending fyis to email and other devices.","responses":{"200":{"description":"Successfully retrieve preset details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/deliveryOptions"},"examples":{"delivery-options":{"value":{"E":[{"NM":"iPhone","I":"apn://mtws@SDFSDFDSFS123123DSFSDF","UI":"apn://mtws@SDFSDFDSFS123123DSFSDF","A":1}],"M":1}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-ib-provider":"iblink"}},"/fyi/deliveryoptions/device":{"post":{"tags":["Trading FYIs and Notifications"],"summary":"Enable/Disable Device Option","description":"Choose whether a particular device is enabled or disabled.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/fyiEnableDeviceOption"}}},"required":true},"responses":{"200":{"description":"Successfully retrieve preset details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/fyiVT"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-ib-provider":"iblink"}},"/fyi/deliveryoptions/email":{"put":{"tags":["Trading FYIs and Notifications"],"summary":"Enable/Disable Email Option","description":"Enable or disable your account’s primary email to receive notifications.","parameters":[{"name":"enabled","in":"query","required":true,"style":"form","explode":false,"schema":{"description":"Enable or disable your email. Value format: true: Enable; false: Disable\n"}}],"responses":{"200":{"description":"Successfully enabled or disabled your email notifications.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/fyiVT"},"examples":{"successEdited":{"value":{"V":1,"T":10}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"servers":[{"url":"https://api.ibkr.com/v1/api","description":"Trading Production Base URL"},{"url":"https://api.ibkr.com/alpha/api","description":"Trading Alpha Base URL"}],"x-ib-provider":"iblink"}},"/fyi/deliveryoptions/{deviceId}":{"delete":{"tags":["Trading FYIs and Notifications"],"summary":"Delete A Device","description":"Delete a specific device from our saved list of notification devices.","parameters":[{"name":"deviceId","in":"path","required":true,"style":"simple","explode":false,"schema":{"description":"Display the device identifier to delete from IB’s saved list. Can be retrieved from /fyi/deliveryoptions.\n"}}],"responses":{"200":{"description":"No response message is returned. Instead, you will only receive an empty string with a 200 OK status code indicating a successfully deleted account."}},"servers":[{"url":"https://api.ibkr.com/v1/api","description":"Trading Production Base URL"},{"url":"https://api.ibkr.com/alpha/api","description":"Trading Alpha Base URL"}],"x-ib-provider":"iblink"}},"/fyi/disclaimer/{typecode}":{"get":{"tags":["Trading FYIs and Notifications"],"summary":"Get Disclaimer For A Certain Kind Of Fyi","description":"Receive additional disclaimers based on the specified typecode.","parameters":[{"name":"typecode","in":"path","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/typecodes"}}],"responses":{"200":{"description":"Successfully disclaimer details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/disclaimerInfo"},"examples":{"ba-disclaimer":{"value":{"DT":"This communication is provided for information purposes only and is not a recommendation or a solicitation to buy, sell or hold any investment product. Selling securities short involves significant risk and you may lose more than you invest.","FC":"BA"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"servers":[{"url":"https://api.ibkr.com/v1/api","description":"Trading Production Base URL"},{"url":"https://api.ibkr.com/alpha/api","description":"Trading Alpha Base URL"}],"x-ib-provider":"iblink"},"put":{"tags":["Trading FYIs and Notifications"],"summary":"Mark Disclaimer Read","description":"Mark a specific disclaimer message as read.","parameters":[{"name":"typecode","in":"path","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/typecodes"}}],"responses":{"200":{"description":"Successfully marked as read","content":{"application/json":{"schema":{"$ref":"#/components/schemas/fyiVT"},"examples":{"marked":{"value":{"V":1,"T":10}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"servers":[{"url":"https://api.ibkr.com/v1/api","description":"Trading Production Base URL"},{"url":"https://api.ibkr.com/alpha/api","description":"Trading Alpha Base URL"}],"x-ib-provider":"iblink"}},"/fyi/notifications":{"get":{"tags":["Trading FYIs and Notifications"],"summary":"Get A List Of Notifications","description":"Get a list of available notifications.","parameters":[{"name":"max","in":"query","required":true,"style":"form","explode":false,"schema":{"type":"string","description":"Specify the maximum number of notifications to receive. Can request a maximum of 10 notifications.\n","format":"int32","example":"10"}},{"name":"include","in":"query","required":false,"style":"form","explode":false,"schema":{"description":"include"}},{"name":"exclude","in":"query","required":false,"style":"form","explode":false,"schema":{"description":"exclude"}},{"name":"id","in":"query","required":false,"style":"form","explode":false,"schema":{"description":"if more required, notifcationId of last notification should be used to define next batch border"}}],"responses":{"200":{"description":"Successfully enabled or disabled your email notifications.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notifications"},"examples":{"all-notifications":{"value":[{"R":0,"D":"1710847062.0","MS":"FYI: Changes in Analyst Ratings","MD":"<html>Some investors use analysts ratings to stay informed about their investments. Analysts have changed their ratings for one or more companies in which you hold positions.    <br />The following summary displays the affected companies, the current number of analysts by rating category and, in parentheses, the recent change in the number of analysts rating the company within each rating category.  <br /> - JWN@NYSE: Buy: 1(0), Outperform: 1(0), Hold: 12(-1), Underperform: 5(0), Sell: 0(0). Held in: D****000 <br /> - RF@NYSE: Buy: 4(+1), Outperform: 5(0), Hold: 17(-1), Underperform: 1(0), Sell: 0(0). Held in: D****000 <br /> <br />   Note: Current ratings are from Reuters and may not reflect all rating changes from other sources such as Street Insider and Briefing.</html>","ID":"2024031947509444","HT":0,"FC":"PF"},{"R":1,"D":"1710761985.0","MS":"FYI: Changes in Analyst Ratings","MD":"<html>Some investors use analysts ratings to stay informed about their investments. Analysts have changed their ratings for one or more companies in which you hold positions.    <br />The following summary displays the affected companies, the current number of analysts by rating category and, in parentheses, the recent change in the number of analysts rating the company within each rating category.  <br /> - F@NYSE: Buy: 4(0), Outperform: 4(0), Hold: 15(+1), Underperform: 3(-1), Sell: 1(0). Held in: D****000 <br /> - RF@NYSE: Buy: 4(+1), Outperform: 5(0), Hold: 17(-1), Underperform: 1(0), Sell: 0(0). Held in: D****000 <br /> - TSLA@NASDAQ: Buy: 5(0), Outperform: 12(0), Hold: 21(0), Underperform: 7(+1), Sell: 4(0). Held in: D****000 <br /> - UAA@NYSE: Buy: 6(0), Outperform: 2(-1), Hold: 17(+1), Underperform: 2(0), Sell: 0(0). Held in: D****000 <br /> <br />   Note: Current ratings are from Reuters and may not reflect all rating changes from other sources such as Street Insider and Briefing.</html>","ID":"2024031843829868","HT":0,"FC":"PF"},{"R":1,"D":"1710501829.0","MS":"FYI: Changes in Analyst Ratings","MD":"<html>Some investors use analysts ratings to stay informed about their investments. Analysts have changed their ratings for one or more companies in which you hold positions.    <br />The following summary displays the affected companies, the current number of analysts by rating category and, in parentheses, the recent change in the number of analysts rating the company within each rating category.  <br /> - F@NYSE: Buy: 4(0), Outperform: 4(0), Hold: 14(+1), Underperform: 4(0), Sell: 1(0). Held in: D****000 <br /> - UAA@NYSE: Buy: 6(0), Outperform: 3(-1), Hold: 16(-1), Underperform: 2(+1), Sell: 0(0). Held in: D****000 <br /> <br />   Note: Current ratings are from Reuters and may not reflect all rating changes from other sources such as Street Insider and Briefing.</html>","ID":"2024031537589663","HT":0,"FC":"PF"}]}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"servers":[{"url":"https://api.ibkr.com/v1/api","description":"Trading Production Base URL"},{"url":"https://api.ibkr.com/alpha/api","description":"Trading Alpha Base URL"}],"x-ib-provider":"iblink"}},"/fyi/notifications/{notificationID}":{"put":{"tags":["Trading FYIs and Notifications"],"summary":"Mark Notification Read","description":"Mark a particular notification message as read or unread.","parameters":[{"name":"notificationId","in":"path","required":true,"style":"simple","explode":false,"schema":{"description":"Code used to signify a specific notification to mark. Value received from /fyi/notifications"}}],"responses":{"200":{"description":"Successfully enabled or disabled your email notifications.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notificationReadAcknowledge"},"examples":{"acknowledged":{"value":{"V":1,"T":5,"P":{"R":1,"ID":"2024031947509444"}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"servers":[{"url":"https://api.ibkr.com/v1/api","description":"Trading Production Base URL"},{"url":"https://api.ibkr.com/alpha/api","description":"Trading Alpha Base URL"}],"x-ib-provider":"iblink"}},"/fyi/settings":{"get":{"tags":["Trading FYIs and Notifications"],"summary":"Get Notification Settings","description":"Return the current choices of subscriptions for notifications.","responses":{"200":{"description":"Indicates data is being returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/fyiSettings"},"examples":{"settings":{"value":[{"FC":"PF","H":0,"A":1,"FD":"Notify me of recent activity affecting my portfolio holdings.","FN":"Portfolio FYIs"},{"FC":"PT","H":0,"A":1,"FD":"Notify me of potential account configuration changes needed and useful features based on my position transfers.","FN":"Position Transfer"}]}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-ib-provider":"iblink"}},"/fyi/settings/{typecode}":{"post":{"tags":["Trading FYIs and Notifications"],"summary":"Modify FYI Notifications","description":"Enable or disable group of notifications by the specific typecode.","parameters":[{"name":"typecode","in":"path","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/typecodes"}}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"enabled":{"type":"boolean","description":"the notification should be enabled or disabled."}}}}},"required":true},"responses":{"200":{"description":"Successfully retrieve preset details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/fyiVT"},"examples":{"successEdited":{"value":{"V":1,"T":10}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"servers":[{"url":"https://api.ibkr.com/v1/api","description":"Trading Production Base URL"},{"url":"https://api.ibkr.com/alpha/api","description":"Trading Alpha Base URL"}],"x-ib-provider":"iblink"}},"/fyi/unreadnumber":{"get":{"tags":["Trading FYIs and Notifications"],"summary":"Unread Bulletins","description":"Returns the total number of unread notifications","responses":{"200":{"description":"Indicates data is being returned successfully.","content":{"application/json":{"schema":{"properties":{"BN":{"type":"integer","description":"Returns the number of unread bulletins.","format":"int32"}}},"examples":{"unreadnumber":{"value":{"BN":4}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"423":{"description":"Return if called too frequently. Should not be called more than 1 time in 5 minutes","content":{"application/json":{"schema":{"properties":{"status":{"type":"string"}}}}}},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-ib-provider":"iblink"}},"/gw/api/v1/accounts":{"get":{"tags":["Account Management Accounts"],"summary":"Retrieve Processed Application","description":"Retrieve the application request and IBKR response data based on IBKR accountId or externalId. Only available for accounts that originate via API<br><br>**Scope**: `accounts.read`<br>**Security Policy**: `HTTPS`","parameters":[{"name":"accountId","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string"}},{"name":"externalId","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string"}}],"responses":{"500":{"description":"Returns error description representing internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"415":{"description":"Unsupported Media Type","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"400":{"description":"Returns error description representing bad request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"200":{"description":"Retrieve the application request and IBKR response data based on IBKR accountId or externalId. Only available for accounts that originate via API","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/FileDetailsResponse"},{"$ref":"#/components/schemas/ResponseFileResponse"}]}}}},"401":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}}},"x-ib-gateway-provider-name":"eca","x-ib-gateway-security-policy":"HTTPS","x-ib-gateway-allowed-scopes":["accounts.read"]},"post":{"tags":["Account Management Accounts"],"summary":"Create Account","description":"Submit account application. This will create brokerage account for the end user.<br><br>**Scope**: `accounts.write`<br>**Security Policy**: `Signed JWT`","requestBody":{"content":{"application/jwt":{"schema":{"$ref":"#/components/schemas/ApplicationPayload"}}},"required":true},"responses":{"500":{"description":"Returns error description representing internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"415":{"description":"Unsupported Media Type","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"400":{"description":"Returns error description representing bad request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"200":{"description":"Submit account application. This will create brokerage account for the end user.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusResponse"}}}},"202":{"description":"Submit account application. This will initiate creation of brokerage account for the end user.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestInfoResponse"}}}},"401":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}}},"x-ib-gateway-provider-name":"eca","x-ib-gateway-security-policy":"SIGNED_JWT","x-ib-gateway-allowed-scopes":["accounts.write"]},"patch":{"tags":["Account Management Accounts"],"summary":"Update Account","description":"Update information for an existing accountId<br><br>**Scope**: `accounts.write`<br>**Security Policy**: `Signed JWT`","requestBody":{"content":{"application/jwt":{"schema":{"$ref":"#/components/schemas/AccountManagementRequestsPayload"}}},"required":true},"responses":{"500":{"description":"Returns error description representing internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"415":{"description":"Unsupported Media Type","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"400":{"description":"Returns error description representing bad request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"200":{"description":"Update information for an existing accountId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusResponse"}}}},"202":{"description":"Initiate update information for an existing accountId.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestInfoResponse"}}}},"401":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}}},"x-ib-gateway-provider-name":"eca","x-ib-gateway-security-policy":"SIGNED_JWT","x-ib-gateway-allowed-scopes":["accounts.write"]}},"/gw/api/v1/accounts/documents":{"post":{"tags":["Account Management Accounts"],"summary":"Submit General Agreements And Disclosures","description":"Provides mechanism to submit Agreements and Disclosures to IBKR once a day instead of with each application. We store these documents on the servers and will use them for new application requests submitted that day.<ul><li>Documents will need to be submitted once a day (before the Applications are submitted). PDFs will be displayed and submitted as is- no changes/edits will be made to the actual PDF files.</li><li>This end-point will not process any Tax Form Documents. Tax Form document should be submitted with every application</li><li>If submitted in the morning, you only need to include the Tax Form attachment for each applicant. Otherwise, you will need to include PDFs with each application (Create Account).</li></ul><br><br>**Scope**: `accounts.write`<br>**Security Policy**: `Signed JWT`","requestBody":{"content":{"application/jwt":{"schema":{"$ref":"#/components/schemas/ProcessDocumentsPayload"}}},"required":true},"responses":{"500":{"description":"Returns error description representing internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"415":{"description":"Unsupported Media Type","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"400":{"description":"Returns error description representing bad request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"200":{"description":"Submit standard agreements and disclosures","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusResponse"}}}},"401":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}}},"x-ib-gateway-provider-name":"eca","x-ib-gateway-security-policy":"SIGNED_JWT","x-ib-gateway-allowed-scopes":["accounts.write"]}},"/gw/api/v1/accounts/login-messages":{"get":{"tags":["Account Management Accounts"],"summary":"Get Login Messages","description":"Query all accounts associated with ‘Client ID’ that have incomplete login message<br><br>**Scope**: `accounts.read`<br>**Security Policy**: `HTTPS`","parameters":[{"name":"loginMessageRequest","in":"query","required":true,"style":"form","explode":false,"schema":{"$ref":"#/components/schemas/LoginMessageRequest"}}],"responses":{"500":{"description":"Returns error description representing internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"415":{"description":"Unsupported Media Type","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"400":{"description":"Returns error description representing bad request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"200":{"description":"Query all accounts associated with ‘Client ID’ that have incomplete login message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginMessageResponse"}}}},"401":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}}},"x-ib-gateway-provider-name":"eca","x-ib-gateway-security-policy":"HTTPS","x-ib-gateway-allowed-scopes":["accounts.read"]}},"/gw/api/v1/accounts/status":{"get":{"tags":["Account Management Accounts"],"summary":"Get Status Of Accounts","description":"Query status of all accounts associated with ‘Client ID'<br><br>**Scope**: `accounts.read`<br>**Security Policy**: `HTTPS`","parameters":[{"name":"accountStatusRequest","in":"query","required":true,"style":"form","explode":false,"schema":{"$ref":"#/components/schemas/AccountStatusRequest"}}],"responses":{"500":{"description":"Returns error description representing internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"415":{"description":"Unsupported Media Type","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"400":{"description":"Returns error description representing bad request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"200":{"description":"Query status of all accounts associated with ‘Client ID'","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountStatusBulkResponse"}}}},"401":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}}},"x-ib-gateway-provider-name":"eca","x-ib-gateway-security-policy":"HTTPS","x-ib-gateway-allowed-scopes":["accounts.read"]}},"/gw/api/v1/accounts/{accountId}/details":{"get":{"tags":["Account Management Accounts"],"summary":"Get Account Information","description":"<br>**Scope**: `accounts.read`<br>**Security Policy**: `HTTPS`","parameters":[{"name":"accountId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"500":{"description":"Returns error description representing internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"415":{"description":"Unsupported Media Type","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"400":{"description":"Returns error description representing bad request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"200":{"description":"View information associated with account including contact data, financial information and trading configuration.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDetailsResponse"}}}},"401":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}}},"x-ib-gateway-provider-name":"eca","x-ib-gateway-security-policy":"HTTPS","x-ib-gateway-allowed-scopes":["accounts.read"]}},"/gw/api/v1/accounts/{accountId}/kyc":{"get":{"tags":["Account Management Accounts"],"summary":"Retrieve Au10Tix URL","description":"Generate URL address to complete real-time KYC verification using Au10Tix<br><br>**Scope**: `accounts.read`<br>**Security Policy**: `HTTPS`","parameters":[{"name":"accountId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"500":{"description":"Returns error description representing internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"415":{"description":"Unsupported Media Type","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"400":{"description":"Returns error description representing bad request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"200":{"description":"Generate URL address to complete real-time KYC verification using Au10Tix","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Au10TixDetailResponse"}}}},"401":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}}},"x-ib-gateway-provider-name":"eca","x-ib-gateway-security-policy":"HTTPS","x-ib-gateway-allowed-scopes":["accounts.read"]}},"/gw/api/v1/accounts/{accountId}/login-messages":{"get":{"tags":["Account Management Accounts"],"summary":"Get Login Message By Account","description":"Query login messages assigned by accountId<br><br>**Scope**: `accounts.read`<br>**Security Policy**: `HTTPS`","parameters":[{"name":"accountId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string"}}],"responses":{"500":{"description":"Returns error description representing internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"415":{"description":"Unsupported Media Type","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"400":{"description":"Returns error description representing bad request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"200":{"description":"Query login messages assigned by accountId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginMessageResponse"}}}},"401":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}}},"x-ib-gateway-provider-name":"eca","x-ib-gateway-security-policy":"HTTPS","x-ib-gateway-allowed-scopes":["accounts.read"]}},"/gw/api/v1/accounts/{accountId}/status":{"get":{"tags":["Account Management Accounts"],"summary":"Get Status By Account","description":"Query status of account by accountId<br><br>**Scope**: `accounts.read`<br>**Security Policy**: `HTTPS`","parameters":[{"name":"accountId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"500":{"description":"Returns error description representing internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"415":{"description":"Unsupported Media Type","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"400":{"description":"Returns error description representing bad request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"200":{"description":"Query status of account by accountId.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountStatusResponse"}}}},"401":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}}},"x-ib-gateway-provider-name":"eca","x-ib-gateway-security-policy":"HTTPS","x-ib-gateway-allowed-scopes":["accounts.read"]}},"/gw/api/v1/accounts/{accountId}/tasks":{"get":{"tags":["Account Management Accounts"],"summary":"Get Registration Tasks","description":"Query registration tasks assigned to account and pending tasks that are required for account approval<br><br>**Scope**: `accounts.read`<br>**Security Policy**: `HTTPS`","parameters":[{"name":"accountId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string","default":"registration","enum":["pending","registration"]}}],"responses":{"500":{"description":"Returns error description representing internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"415":{"description":"Unsupported Media Type","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"400":{"description":"Returns error description representing bad request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"200":{"description":"Query registration tasks assigned to account and pending tasks that are required for account approval","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/RegistrationTasksResponse"},{"$ref":"#/components/schemas/PendingTasksResponse"}]}}}},"401":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}}},"x-ib-gateway-provider-name":"eca","x-ib-gateway-security-policy":"HTTPS","x-ib-gateway-allowed-scopes":["accounts.read"]}},"/gw/api/v1/bank-instructions":{"post":{"tags":["Account Management Banking"],"summary":"Manage Bank Instructions","description":"Create or delete bank instructions by accountId. Only ACH and EDDA are supported for 'Create'.<br><br>**Scope**: `bank-instructions.write`<br>**Security Policy**: `Signed JWT`","parameters":[{"$ref":"#/components/parameters/clientIdPathParam"}],"requestBody":{"content":{"application/json":{"schema":{"required":["instruction","instructionType"],"properties":{"instructionType":{"type":"string","enum":["ACH_INSTRUCTION","TRADITIONAL_BANK_INSTRUCTION_VERIFICATION","DELETE_BANK_INSTRUCTION","PREDEFINED_DESTINATION_INSTRUCTION","EDDA_INSTRUCTION"]},"instruction":{"oneOf":[{"$ref":"#/components/schemas/TraditionalBankInstructionVerification"},{"$ref":"#/components/schemas/AchInstruction"},{"$ref":"#/components/schemas/DeleteBankInstruction"},{"$ref":"#/components/schemas/PredefinedDestinationInstruction"},{"$ref":"#/components/schemas/EddaInstruction"}]}}},"examples":{"ACH Instruction":{"value":{"instructionType":"ACH_INSTRUCTION","instruction":{"clientInstructionId":1012983,"bankInstructionCode":"USACH","achType":"DEBIT_CREDIT","bankInstructionName":"TestInstr","currency":"USD","accountId":"U223454","clientAccountInfo":{"bankRoutingNumber":"202012983","bankAccountNumber":"101267576983","bankName":"JPM Chase","bankAccountTypeCode":0}}}},"Traditional Bank Instruction Verification":{"value":{"instructionType":"TRADITIONAL_BANK_INSTRUCTION_VERIFICATION","instruction":{"clientInstructionId":7013057,"bankInstructionCode":"USACH","bankInstructionName":"ACH-Tst1Random172","accountId":"U117717","pendingInstructionId":43086786,"creditAmount1":0.32,"creditAmount2":0.46}}},"Delete Bank Instruction":{"value":{"instructionType":"DELETE_BANK_INSTRUCTION","instruction":{"clientInstructionId":7013055,"accountId":"U46377","bankInstructionName":"Test Delete","bankInstructionMethod":"WIRE","currency":"USD"}}},"Predefined Destination Instruction":{"value":{"instructionType":"PREDEFINED_DESTINATION_INSTRUCTION","instruction":{"clientInstructionId":7013053,"bankInstructionName":"Test-ACH-Instr","bankInstructionMethod":"ACH","accountId":"U399192","currency":"USD","financialInstitution":{"name":"SBI Bank","branchCode":"","branchCodeType":"BSB_AUD","identifier":"SBIN001000","identifierType":"IFSC","clientAccountId":"132456789"}}}},"eDDA Instruction":{"value":{"instructionType":"EDDA_INSTRUCTION","instruction":{"clientInstructionId":7012743,"bankInstructionName":"{instrution-name}","currency":"CNH","accountId":"U8072517","bankBranchCode":"003","bankAccountNumber":"132456","bankClearingCode":"003","debtorIdentificationDocumentType":"hkId"}}}}}},"required":true},"responses":{"202":{"description":"Accepts request to create a new instruction asynchronously","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AsynchronousInstructionResponse"},"examples":{"ACH Instruction":{"value":{"instructionResult":{"clientInstructionId":80009,"instructionType":"ACH_INSTRUCTION","instructionStatus":"PENDING","instructionId":43092478},"instructionSetId":2487,"status":202}},"Traditional Bank Instruction Verification":{"value":{"instructionResult":{"clientInstructionId":7008152,"instructionType":"TRADITIONAL_BANK_INSTRUCTION_VERIFICATION","instructionStatus":"PENDING","instructionId":43092590},"instructionSetId":2614,"status":202}},"Delete Bank Instruction":{"value":{"instructionResult":{"clientInstructionId":80009,"instructionType":"DELETE_BANK_INSTRUCTION","instructionStatus":"PENDING","instructionId":43092478},"instructionSetId":2487,"status":202}},"Predefined Destination Instruction":{"value":{"instructionResult":{"clientInstructionId":7008152,"instructionType":"PREDEFINED_DESTINATION_INSTRUCTION","instructionStatus":"PENDING","instructionId":43092590},"instructionSetId":2614,"status":202}},"eDDA Instruction":{"value":{"status":202,"instructionSetId":6401,"instructionResult":{"clientInstructionId":7012743,"instructionType":"EDDA_INSTRUCTION","instructionStatus":"PENDING","instructionId":43098698}}}}}}},"400":{"description":"Returns a Problem detail instance representing a bad request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/MissingRequiredParameterResponse"},"examples":{"Response":{"value":{"type":"/invalid-argument","title":"Bad Request","status":400,"detail":"Input is not a JSON Object or doesn't contain all expected fields","invalidArguments":[{"field":"accountId","description":"Missing required parameter"},{"field":"bankInstructionCode","description":"Missing required parameter"},{"field":"achType","description":"Missing required parameter"},{"field":"bankInstructionName","description":"Missing required parameter"},{"field":"clientAccountInfo","description":"Missing required parameter"}]}}}}}},"403":{"description":"Returns a Problem detail instance representing a forbidden request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ForbiddenInstructionResponse"},"examples":{"Response":{"value":{"type":"/simple","title":"Forbidden","status":403,"detail":"Permission denied- Insufficient rights for using resource","instructionSetId":2603,"instructionResult":{"clientInstructionId":80140,"instructionType":"ACH_INSTRUCTION","instructionStatus":"REJECTED","instructionId":43092579,"error":{"errorCode":"ERROR_PERMISSION_DENIED","errorMessage":"Permission denied- Insufficient rights for using resource"}}}}}}}},"422":{"description":"Returns a Problem detail instance representing a business error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/BusinessRejectResponse"},"examples":{"Response":{"value":{"type":"/simple","title":"Business Error","status":422,"detail":"Funds & Banking: Server cannot process your request because it contains invalid data","instructionSetId":2602,"instructionResult":{"clientInstructionId":80139,"instructionType":"ACH_INSTRUCTION","instructionStatus":"REJECTED","instructionId":43092578,"error":{"errorCode":"ERROR_ACCOUNT_CP_NOT_RELATED","errorMessage":"Account U223454 not related to counterparty qatester"}}}}}}}},"500":{"description":"Returns a Problem detail instance representing an internal server error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}},"x-ib-gateway-provider-name":"fb","x-ib-gateway-security-policy":"SIGNED_JWT","x-ib-gateway-allowed-scopes":["bank-instructions.write"]}},"/gw/api/v1/bank-instructions/query":{"post":{"tags":["Account Management Banking"],"summary":"View Bank Instructions","description":"View active bank instructions for an accountId.<br><br>**Scope**: `bank-instructions.read`<br>**Security Policy**: `Signed JWT`","parameters":[{"$ref":"#/components/parameters/clientIdPathParam"}],"requestBody":{"description":"Create get instruction name request body","content":{"application/json":{"schema":{"required":["instruction","instructionType"],"properties":{"instructionType":{"type":"string","enum":["QUERY_BANK_INSTRUCTION","QUERY_RECENT_RECURRING_EVENTS","QUERY_RECURRING_INSTRUCTIONS"]},"instruction":{"oneOf":[{"$ref":"#/components/schemas/QueryBankInstruction"},{"$ref":"#/components/schemas/QueryRecentRecurringEvents"},{"$ref":"#/components/schemas/QueryRecurringInstructions"}]}}},"examples":{"Query Bank Instruction - Wire":{"value":{"instructionType":"QUERY_BANK_INSTRUCTION","instruction":{"clientInstructionId":1012983,"accountId":"U46377","bankInstructionMethod":"WIRE"}}},"Query Bank Instruction - ACH Instruction":{"value":{"instructionType":"QUERY_BANK_INSTRUCTION","instruction":{"clientInstructionId":1012983,"accountId":"U46377","bankInstructionMethod":"ACH"}}},"Query Recent Recurring Event":{"value":{"instructionType":"QUERY_RECENT_RECURRING_EVENTS","instruction":{"clientInstructionId":1012983,"ibReferenceId":206603050,"numberOfTransactions":100}}},"Query Recurring Instructions - using Account ID":{"value":{"instructionType":"QUERY_RECURRING_INSTRUCTIONS","instruction":{"clientInstructionId":1012983,"accountId":"U399192"}}}}}},"required":true},"responses":{"201":{"description":"Instruction successfully created and processed synchronously","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/QueryRecentRecurringEventResponse"},{"$ref":"#/components/schemas/QueryBankInstructionResponse"},{"$ref":"#/components/schemas/QueryRecurringInstructionsResponse"}]},"examples":{"Query Bank Instruction - WIRE":{"value":{"instructionResult":{"accountId":"U46377","bankInstructionMethod":"WIRE","bankInstructionDetails":[{"instructionName":"testCitadele","type":"FOREIGN_BANK","currency":"USD","instructionStatus":"REJECTED","bankRoutingNumber":"000127591","bankAccountNumber":"*****7042"},{"instructionName":"testChase1","type":"LOCAL_BANK","currency":"USD","instructionStatus":"PROCESSED","bankRoutingNumber":"021100361","bankAccountNumber":"*****9869"},{"instructionName":"testee","type":"FOREIGN_BANK","currency":"USD","instructionStatus":"PROCESSED","bankRoutingNumber":"021112361","bankAccountNumber":"*****9889"},{"instructionName":"test multiple","type":"FOREIGN_BANK","currency":"CHF","instructionStatus":"PROCESSED","bankRoutingNumber":"021100361","bankAccountNumber":"*****2531"},{"instructionName":"farawayBroker","type":"FOREIGN_BROKER","currency":"CHF","instructionStatus":"REJECTED","bankRoutingNumber":"021100361","bankAccountNumber":"*****1234"}],"ibReferenceId":0,"clientInstructionId":12001819,"instructionType":"QUERY_BANK_INSTRUCTION","instructionStatus":"PROCESSED","instructionId":43094187},"instructionSetId":3771,"status":201}},"Query Bank Instruction - ACH":{"value":{"instructionResult":{"accountId":"U46377","bankInstructionMethod":"ACH","bankInstructionDetails":[{"instructionName":"testCitadele","type":"FOREIGN_BANK","currency":"USD","instructionStatus":"REJECTED","bankRoutingNumber":"000127591","bankAccountNumber":"*****7042"},{"instructionName":"testChase1","type":"LOCAL_BANK","currency":"USD","instructionStatus":"PROCESSED","bankRoutingNumber":"021100361","bankAccountNumber":"*****9869"},{"instructionName":"testee","type":"FOREIGN_BANK","currency":"USD","instructionStatus":"PROCESSED","bankRoutingNumber":"021112361","bankAccountNumber":"*****9889"},{"instructionName":"test multiple","type":"FOREIGN_BANK","currency":"CHF","instructionStatus":"PROCESSED","bankRoutingNumber":"021100361","bankAccountNumber":"*****2531"},{"instructionName":"farawayBroker","type":"FOREIGN_BROKER","currency":"CHF","instructionStatus":"REJECTED","bankRoutingNumber":"021100361","bankAccountNumber":"*****1234"}],"ibReferenceId":0,"clientInstructionId":12001819,"instructionType":"QUERY_BANK_INSTRUCTION","instructionStatus":"PROCESSED","instructionId":43094187},"instructionSetId":3771,"status":201}},"Query Recent Recurring Events":{"value":{"status":201,"instructionSetId":14132,"instructionResult":{"recurringInstructionName":"test","recurringTransactionType":"DEPOSIT","recurringTransactionStatus":"NOTACTIVATED","amount":1,"currency":"CNH","method":"206603051","transactionHistory":{"maxNumberOfTransactions":100,"result":[{"ibRequestId":206586288,"status":"ACKNOWLEDGED"},{"ibRequestId":206582418,"status":"CANCELED"}]},"ibReferenceId":0,"clientInstructionId":12007909,"instructionType":"QUERY_RECENT_RECURRING_EVENTS","instructionStatus":"PROCESSED","instructionId":43104464}}},"Query Recurring Instructions - using Account ID":{"value":{"status":201,"instructionSetId":14258,"instructionResult":{"accountId":"U399192","recurringInstructions":[{"requestId":206611807,"bankInstructionName":"Recurring Test- cpereira","transactionType":"DEPOSIT","bankInstructionMethod":"ACH","amount":1,"currency":"USD","frequency":"MONTHLY","startDate":"2024-06-12 00:00:00.0","endDate":"2024-12-12 00:00:00.0"}],"ibReferenceId":0,"clientInstructionId":12008027,"instructionType":"QUERY_RECENT_INSTRUCTIONS","instructionStatus":"PROCESSED","instructionId":43104628}}}}}}},"400":{"description":"Returns a Problem detail instance representing a bad request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/MissingRequiredParameterResponse"},"examples":{"Response":{"value":{"type":"/invalid-argument","title":"Bad Request","status":400,"detail":"Input is not a JSON Object or doesn't contain all expected fields","invalidArguments":[{"field":"ibReferenceId","description":"Missing required parameter"}]}}}}}},"403":{"description":"Returns a Problem detail instance representing a forbidden request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ForbiddenInstructionResponse"},"examples":{"Response":{"value":{"type":"/simple","title":"Forbidden","status":403,"detail":"Permission denied- Insufficient rights for using resource","instructionSetId":2445,"instructionResult":{"clientInstructionId":12000610,"instructionType":"QUERY_RECENT_RECURRING_EVENTS","instructionStatus":"REJECTED","instructionId":43092429,"error":{"errorCode":"ERROR_PERMISSION_DENIED","errorMessage":"Permission denied- Insufficient rights for using resource"}}}}}}}},"422":{"description":"Returns a Problem detail instance representing a business error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/BusinessRejectResponse"},"examples":{"Response":{"value":{"type":"/simple","title":"Business Error","status":422,"detail":"Funds & Banking: Server cannot process your request because it contains invalid data","instructionSetId":2616,"instructionResult":{"clientInstructionId":7008155,"instructionType":"QUERY_RECENT_RECURRING_EVENTS","instructionStatus":"REJECTED","instructionId":43092592,"error":{"errorCode":"CORRUPT_DATA_INVALID_ACCT","errorMessage":"Account U463756 does not exist"}}}}}}}},"500":{"description":"Returns a Problem detail instance representing an internal server error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}},"x-ib-gateway-provider-name":"fb","x-ib-gateway-security-policy":"SIGNED_JWT","x-ib-gateway-allowed-scopes":["bank-instructions.read"]}},"/gw/api/v1/client-instructions/{clientInstructionId}":{"get":{"tags":["Account Management Banking"],"summary":"Get Status For ClientInstructionId","description":"Retrieve status of request by clientInstructionId.<br><br>**Scope**: `instructions.read`<br>**Security Policy**: `HTTPS`","parameters":[{"$ref":"#/components/parameters/clientIdPathParam"},{"$ref":"#/components/parameters/clientInstructionIdPathParam"}],"responses":{"200":{"description":"Returns the status of an instruction.","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/InstructionPollingResponse"},{"$ref":"#/components/schemas/InstructionResponse"},{"$ref":"#/components/schemas/QueryRecentInstructionResponse"},{"$ref":"#/components/schemas/DepositFundsPollingResponse"},{"$ref":"#/components/schemas/QueryIRAContributionsResponse"}]},"examples":{"Polling Status Pending":{"value":{"status":200,"instructionResult":{"clientInstructionId":7008156,"instructionType":"INTERNAL_CASH_TRANSFER","instructionStatus":"PENDING","instructionId":43092595},"instructionSetId":2650}},"Polling Status Processed":{"value":{"status":200,"instructionResult":{"clientInstructionId":7008157,"instructionType":"INTERNAL_CASH_TRANSFER","instructionStatus":"PROCESSED","instructionId":43092596},"instructionSetId":2651}},"Polling Status Query Recent Instruction":{"value":{"status":200,"instructionSetId":881284,"instructionResult":{"instructionHistory":{"historyMaxDepthNumberOfDays":30,"historyMaxDepthNumberOfInstruction":100000,"result":[{"clientInstructionId":13050551,"ibInstructionId":703818628,"instructionType":"DEPOSIT","requestDate":"2025-11-05T00:20:06-05","status":"PROCESSED","amount":100,"currency":"USD","instructionSetId":881209},{"clientInstructionId":13050504,"ibInstructionId":703818069,"instructionType":"DEPOSIT","requestDate":"2025-11-03T07:37:04-05","status":"PROCESSED","amount":100,"currency":"USD","instructionSetId":880813},{"clientInstructionId":13050492,"ibInstructionId":703818065,"instructionType":"DEPOSIT","requestDate":"2025-11-03T07:34:57-05","status":"PROCESSED","amount":100,"currency":"USD","instructionSetId":880811}]},"ibReferenceId":0,"clientInstructionId":13050609,"instructionType":"QUERY_RECENT_INSTRUCTIONS","instructionStatus":"PROCESSED","instructionId":703818685}}},"Polling Status - Deposit Instruction":{"value":{"status":200,"instructionSetId":3673,"instructionResult":{"ibReferenceId":166903389,"clientInstructionId":1091115677,"instructionType":"DEPOSIT","instructionStatus":"PROCESSED","instructionId":11177823}}},"Polling Status - Query IRA Contributions":{"value":{"status":200,"instructionSetId":18642,"instructionResult":{"accountId":"U68903","year":"2003","iraType":"ROTH NEW","contributions":[{"maximumContributionLimit":4000,"yearToDateContribution":3500,"allowedContributionLimit":500}],"ibReferenceId":0,"clientInstructionId":7013308,"instructionType":"QUERY_IRA_CONTRIBUTIONS","instructionStatus":"PROCESSED","instructionId":43134476}}},"Polling Status - Query IRA Contributions (SEP Accounts)":{"value":{"status":200,"instructionSetId":18640,"instructionResult":{"accountId":"U1032333","year":"2022","iraType":"SEP","contributions":[{"type":"EMPLOYEE","maximumContributionLimit":7000,"yearToDateContribution":0},{"type":"EMPLOYER","maximumContributionLimit":58000,"yearToDateContribution":0}],"ibReferenceId":0,"clientInstructionId":7013306,"instructionType":"QUERY_IRA_CONTRIBUTIONS","instructionStatus":"PROCESSED","instructionId":43134474}}}}}}},"208":{"description":"Client tried to reuse the same instructionId for more than one transaction. Returning the status for the first registered transaction under given instructionId (when there were no duplicates yet). Reconcile based on instructionSetId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstructionResponse"},"examples":{"Response":{"value":{"status":208,"instructionResult":{"clientInstructionId":1013025,"instructionType":"INTERNAL_CASH_TRANSFER","instructionStatus":"REJECTED","instructionId":43091799,"error":{"errorCode":"CORRUPT_DATA_INVALID_ACCT","errorMessage":"Account U1 does not exist"}},"instructionSetId":1686}}}}}},"404":{"description":"Returns a Problem detail instance representing a not found request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NoSuchInstructionResponse"},"examples":{"Response":{"value":{"type":"/simple","title":"Not found","status":404,"detail":"Funds & Banking: Could not get status for clientId: qatester, transactionId : 72308156"}}}}}},"500":{"description":"Unable to process request due to an Internal Error. Please try again later.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}},"x-ib-gateway-provider-name":"fb","x-ib-gateway-security-policy":"HTTPS","x-ib-gateway-allowed-scopes":["instructions.read"]}},"/gw/api/v1/echo/https":{"get":{"tags":["Utilities Echo"],"summary":"Echo A Request With HTTPS Security Policy Back After Validation.","description":"<br>**Scope**: `echo.read`<br>**Security Policy**: `HTTPS`","responses":{"200":{"description":"Returns a JSON object containing the request parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EchoResponse"}}}},"401":{"description":"Returns a Problem detail instance representing an unauthorized request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/InvalidAccessTokenResponse"}}}},"403":{"description":"Returns a Problem detail instance representing a forbidden request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/InsufficientScopeResponse"}}}},"500":{"description":"Returns a Problem detail instance representing an internal server error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}},"x-ib-gateway-provider-name":"self","x-ib-gateway-security-policy":"HTTPS","x-ib-gateway-allowed-scopes":["echo.read"]}},"/gw/api/v1/echo/signed-jwt":{"post":{"tags":["Utilities Echo"],"summary":"Echo A Request With Signed JWT Security Policy Back After Validation.","description":"<br>**Scope**: `echo.write`<br>**Security Policy**: `Signed JWT`","requestBody":{"$ref":"#/components/requestBodies/SignedJwtEchoRequestBody"},"responses":{"200":{"description":"Returns a JSON object containing the request parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EchoResponse"}}}},"401":{"description":"Returns a Problem detail instance representing an unauthorized request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/InvalidAccessTokenResponse"}}}},"403":{"description":"Returns a Problem detail instance representing a forbidden request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/InsufficientScopeResponse"}}}},"500":{"description":"Returns a Problem detail instance representing an internal server error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}},"x-ib-gateway-provider-name":"self","x-ib-gateway-security-policy":"SIGNED_JWT","x-ib-gateway-allowed-scopes":["echo.write"]}},"/gw/api/v1/enumerations/complex-asset-transfer":{"get":{"tags":["Account Management Utilities"],"summary":"Get A List Of Participating Brokers For The Given Asset Type","description":"Get list of brokers supported for given asset transfer type<br><br>**Scope**: `enumerations.read`<br>**Security Policy**: `HTTPS`","parameters":[{"$ref":"#/components/parameters/clientIdPathParam"},{"name":"instructionType","in":"query","description":"Asset transfer type to get the list of supported brokers","required":true,"style":"form","explode":false,"schema":{"type":"string"},"examples":{"Participating Brokers":{"value":"COMPLEX_ASSET_TRANSFER"}}}],"responses":{"200":{"description":"Returns list of brokers supported for given asset type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetBrokerListResponse"},"examples":{"Response":{"value":{"instructionType":"COMPLEX_ASSET_TRANSFER","brokers":["DONNER & REUSCHEL","IBROKER GLOBAL MARKETS SOCIEDAD DE VALORES, S.A","EQUATEX 4500","IMAGI  BROKERAGE LIMITED","V-BANK","ADMIRAL MARKETS UK LTD","ALFA BANK","YICKO SECURITIES LIMITED","BLACKWELL GLOBAL SECURITIES LIMITED","EQUINITI","KAISA FINANCIAL GROUP COMPANY LIMITED"]}}}}}},"400":{"description":"Returns a Problem detail instance representing a not found request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NoSuchInstructionResponse"},"examples":{"Response":{"value":{"type":"/simple","title":"Bad Request","status":400,"detail":"Request path does not contain all expected fields, please consult provided documentation, escalate to IB contact if issue persists"}}}}}},"500":{"description":"Unable to process request due to an Internal Error. Please try again later.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}},"x-ib-gateway-provider-name":"fb","x-ib-gateway-security-policy":"HTTPS","x-ib-gateway-allowed-scopes":["enumerations.read"]}},"/gw/api/v1/enumerations/{enumerationType}":{"get":{"tags":["Account Management Utilities"],"summary":"Get Enumerations","description":"Used to query list of enumerations for attributes included within extPositionsTransfers, occupation, employerBusiness, financialInformation, affiliationDetails, tradingPermissions, etc.<br><br>**Scope**: `accounts.read` OR `enumerations.read`<br>**Security Policy**: `HTTPS`","parameters":[{"name":"type","in":"path","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/EnumerationType"}},{"name":"currency","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string"}},{"name":"ibEntity","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string"}},{"name":"mdStatusNonPro","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string"}},{"name":"form-number","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string"}},{"name":"language","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string","enum":["en","ar","de","es","fr","he","hu","it","ja","nl","pt","ru","zh_CN","zh_TW"]}},{"name":"accountId","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string"}}],"responses":{"500":{"description":"Returns error description representing internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"415":{"description":"Unsupported Media Type","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"400":{"description":"Returns error description representing bad request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"200":{"description":"Get enumerations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnumerationResponse"}}}},"401":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}}},"x-ib-gateway-provider-name":"eca","x-ib-gateway-security-policy":"HTTPS","x-ib-gateway-allowed-scopes":["accounts.read","enumerations.read"]}},"/gw/api/v1/external-asset-transfers":{"post":{"tags":["Account Management Banking"],"summary":"Transfer Positions Externally (ACATS, ATON, FOP, DWAC, Complex Asset Transfer)","description":"Initiate request to submit external position transfer. Methods- ACATS, ATON, Basic FOP, FOP, DWAC. More information on transfer methods can be found here - https://www.interactivebrokers.com/campus/trading-lessons/cash-and-position-transfers/<br><br>**Scope**: `transfers.write`<br>**Security Policy**: `Signed JWT`","parameters":[{"$ref":"#/components/parameters/clientIdPathParam"}],"requestBody":{"content":{"application/json":{"schema":{"required":["instruction","instructionType"],"properties":{"instructionType":{"type":"string","enum":["DWAC","FOP","COMPLEX_ASSET_TRANSFER","EXTERNAL_POSITION_TRANSFER"]},"instruction":{"oneOf":[{"$ref":"#/components/schemas/FopInstruction"},{"$ref":"#/components/schemas/DwacInstruction"},{"$ref":"#/components/schemas/ComplexAssetTransferInstruction"},{"$ref":"#/components/schemas/ExternalPositionTransfer"}]}}},"examples":{"FOP - transfer using contractID (conid)":{"value":{"instructionType":"FOP","instruction":{"clientInstructionId":7013038,"direction":"IN","accountId":"U46377","contraBrokerAccountId":"12345678A","contraBrokerDtcCode":"534","quantity":1000,"tradingInstrument":{"conid":12123,"currency":"USD"}}}},"FOP - transfer using tradingInstrument.detail":{"value":{"instructionType":"FOP","instruction":{"clientInstructionId":7013039,"direction":"IN","accountId":"U46377","contraBrokerAccountId":"12345678A","contraBrokerDtcCode":"534","quantity":1000,"tradingInstrument":{"tradingInstrumentDescription":{"securityIdType":"ISIN","securityId":"459200101","assetType":"STK"},"currency":"USD"}}}},"DWAC - transfer using contractID (conid)":{"value":{"instructionType":"DWAC","instruction":{"clientInstructionId":7013036,"direction":"IN","accountId":"U1001095","contraBrokerAccountId":"12345678A","contraBrokerTaxId":"123456789","quantity":1000,"accountTitle":"Special Company Holding LLC","referenceId":"refId","tradingInstrument":{"conid":12123,"currency":"USD"}}}},"DWAC - transfer using tradingInstrument.detail":{"value":{"instructionType":"DWAC","instruction":{"clientInstructionId":7013037,"direction":"IN","accountId":"U1001095","contraBrokerAccountId":"12345678A","contraBrokerTaxId":"123456789","quantity":1000,"accountTitle":"Special Company Holding LLC","referenceId":"refId","tradingInstrument":{"tradingInstrumentDescription":{"securityIdType":"ISIN","securityId":"459200101","assetType":"STK"},"currency":"USD"}}}},"Complex Asset Transfer - using contractID (conid)":{"value":{"instructionType":"COMPLEX_ASSET_TRANSFER","instruction":{"clientInstructionId":7013040,"direction":"IN","accountId":"U399192","quantity":10,"contraBrokerInfo":{"accountType":"ORG","brokerName":"JP MORGAN","depositoryId":"1234","brokerAccountId":"as3456567678578N","country":"United States","contactName":"as","contactEmail":"a@gmail.com","contactPhone":"2039126155"},"tradingInstrument":{"conid":12123,"currency":"USD"}}}},"Complex Asset Transfer - using tradingInstrument.detail":{"value":{"instructionType":"COMPLEX_ASSET_TRANSFER","instruction":{"clientInstructionId":7013042,"direction":"IN","accountId":"U399192","quantity":10,"contraBrokerInfo":{"accountType":"ORG","brokerName":"JP MORGAN","depositoryId":"1234","brokerAccountId":"as3456567678578N","country":"United States","contactName":"as","contactEmail":"a@gmail.com","contactPhone":"2039126155"},"tradingInstrument":{"tradingInstrumentDescription":{"securityIdType":"ISIN","securityId":"459200101","assetType":"STK"},"currency":"USD"}}}},"Complex Asset Transfer - where user is nonDisclosed type":{"value":{"instructionType":"COMPLEX_ASSET_TRANSFER","instruction":{"clientInstructionId":7013041,"direction":"IN","accountId":"U399192","quantity":10,"contraBrokerInfo":{"accountType":"ORG","brokerName":"JP MORGAN","depositoryId":"1234","brokerAccountId":"as3456567678578N","country":"United States","contactName":"as","contactEmail":"a@gmail.com","contactPhone":"2039126155"},"tradingInstrument":{"tradingInstrumentDescription":{"securityIdType":"ISIN","securityId":"459200101","assetType":"STK"},"currency":"USD"},"nonDisclosedDetail":{"tradeDate":"2018-03-20T09:12:13Z","settleDate":"2018-03-20T09:12:13Z","psetBic":"","reagDeagBic":"","buyerSellBic":"","memberAccountId":"","safeKeepingAccountId":""}}}},"Complex Asset Transfer with internal broker details - accountIdAtCurrentBroker and accountTitle":{"value":{"instructionType":"COMPLEX_ASSET_TRANSFER","instruction":{"clientInstructionId":7013041,"direction":"IN","accountId":"U399192","accountIdAtCurrentBroker":"8E90075","quantity":10,"contraBrokerInfo":{"accountType":"ORG","brokerName":"JP MORGAN","depositoryId":"1234","brokerAccountId":"as3456567678578N","country":"United States","contactName":"as","contactEmail":"a@gmail.com","contactPhone":"2039126155","accountTitle":"test"},"tradingInstrument":{"tradingInstrumentDescription":{"securityIdType":"ISIN","securityId":"459200101","assetType":"STK"},"currency":"USD"},"nonDisclosedDetail":{"tradeDate":"2018-03-20T09:12:13Z","settleDate":"2018-03-20T09:12:13Z","psetBic":"","reagDeagBic":"","buyerSellBic":"","memberAccountId":"","safeKeepingAccountId":""}}}},"External Position Transfer - ACATS":{"value":{"instructionType":"EXTERNAL_POSITION_TRANSFER","instruction":{"clientInstructionId":7013060,"type":"FULL","subType":"ACATS","brokerId":"0226","brokerName":"Wall Street Financial Group","accountAtBroker":"SOL12345","sourceIRAType":"RO","accountId":"U1225448","signature":"sample signature"}}},"External Position Transfer - ATON":{"value":{"instructionType":"EXTERNAL_POSITION_TRANSFER","instruction":{"clientInstructionId":7013060,"type":"FULL","subType":"ATON","brokerId":"3265","brokerName":"Wall Street Financial Group","accountAtBroker":"SOL12345","accountId":"U1225448","signature":"Marko Barr"}}}}}},"required":true},"responses":{"202":{"description":"Accepts request to create a new instruction asynchronously","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AsynchronousInstructionResponse"},"examples":{"FOP":{"value":{"instructionResult":{"clientInstructionId":1013031,"instructionType":"FOP","instructionStatus":"PENDING","instructionId":43091814},"instructionSetId":1703,"status":202}},"DWAC":{"value":{"instructionResult":{"clientInstructionId":1013031,"instructionType":"DWAC","instructionStatus":"PENDING","instructionId":43091814},"instructionSetId":1703,"status":202}},"Complex Asset Transfer":{"value":{"instructionResult":{"clientInstructionId":80188,"instructionType":"COMPLEX_ASSET_TRANSFER","instructionStatus":"PENDING","instructionId":43093833},"instructionSetId":3549,"status":202}},"External Position Transfer":{"value":{"instructionResult":{"clientInstructionId":7008998,"instructionType":"EXTERNAL_POSITION_TRANSFER","instructionStatus":"PENDING","instructionId":43094000},"instructionSetId":3700,"status":202}}}}}},"400":{"description":"Returns a Problem detail instance representing a bad request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/MissingRequiredParameterResponse"},"examples":{"Response":{"value":{"type":"/invalid-argument","title":"Bad Request","status":400,"detail":"Input is not a JSON Object or doesn't contain all expected fields","invalidArguments":[{"field":"assetType","description":"Missing required parameter"}]}}}}}},"403":{"description":"Returns a Problem detail instance representing a forbidden request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ForbiddenInstructionResponse"},"examples":{"Response":{"value":{"type":"/simple","title":"Forbidden","status":403,"detail":"Permission denied- Insufficient rights for using resource","instructionSetId":2615,"instructionResult":{"clientInstructionId":2611,"instructionType":"FOP","instructionStatus":"REJECTED","instructionId":12000763,"error":{"errorCode":"ERROR_PERMISSION_DENIED","errorMessage":"Permission denied- Insufficient rights for using resource"}}}}}}}},"422":{"description":"Returns a Problem detail instance representing a business error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/BusinessRejectResponse"},"examples":{"Response":{"value":{"type":"/simple","title":"Business Error","status":422,"detail":"Funds & Banking: Server cannot process your request because it contains invalid data","instructionSetId":2616,"instructionResult":{"clientInstructionId":7008155,"instructionType":"FOP","instructionStatus":"REJECTED","instructionId":43092592,"error":{"errorCode":"CORRUPT_DATA_INVALID_ACCT","errorMessage":"Account U1969557 does not exist"}}}}}}}},"500":{"description":"Returns a Problem detail instance representing an internal server error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}},"x-ib-gateway-provider-name":"fb","x-ib-gateway-security-policy":"SIGNED_JWT","x-ib-gateway-allowed-scopes":["transfers.write"]}},"/gw/api/v1/external-cash-transfers":{"post":{"tags":["Account Management Banking"],"summary":"Transfer Cash Externally","description":"Initiate request to deposit or withdrawal between IBKR account and bank account. More information on transfer methods can be found here - https://www.interactivebrokers.com/campus/trading-lessons/cash-and-position-transfers<br><br>**Scope**: `transfers.write`<br>**Security Policy**: `Signed JWT`","parameters":[{"$ref":"#/components/parameters/clientIdPathParam"}],"requestBody":{"content":{"application/json":{"schema":{"required":["instruction","instructionType"],"properties":{"instructionType":{"type":"string","enum":["DEPOSIT","WITHDRAWAL"]},"instruction":{"anyOf":[{"$ref":"#/components/schemas/DepositFundsInstruction"},{"$ref":"#/components/schemas/WithdrawFundsInstruction"}]}}},"examples":{"Deposit Funds":{"value":{"instructionType":"DEPOSIT","instruction":{"clientInstructionId":7013045,"accountId":"U46377","currency":"USD","amount":100,"bankInstructionMethod":"WIRE","sendingInstitution":"Sending Institution name","identifier":"indentifier","specialInstruction":"U46377","bankInstructionName":"Instruction","fromAccountNumber":"U46377","senderInstitutionName":"Senders Institution name"}}},"Deposit Funds - IRA":{"value":{"instructionType":"DEPOSIT","instruction":{"clientInstructionId":7013046,"accountId":"U399192","currency":"USD","amount":1,"bankInstructionMethod":"WIRE","sendingInstitution":"Sending Institution name","identifier":"indentifier","specialInstruction":"U399192","bankInstructionName":"Instruction","fromAccountNumber":"U399192","senderInstitutionName":"Senders Institution name","iraDepositDetail":{"iraContributionType":"ROLLOVER","iraTaxYearType":"CURRENT","fromIraType":"TRADITIONAL"}}}},"Deposit Funds - Recurring":{"value":{"instructionType":"DEPOSIT","instruction":{"clientInstructionId":7013047,"accountId":"U46377","currency":"USD","amount":100,"bankInstructionMethod":"WIRE","sendingInstitution":"Sending Institution name","identifier":"indentifier","specialInstruction":"U46377","bankInstructionName":"Instruction","senderInstitutionName":"Senders Institution name","recurringInstructionDetail":{"instructionName":"Arkansas-Test-Instr","startDate":"2023-10-16","frequency":"MONTHLY"}}}},"Withdraw Funds":{"value":{"instructionType":"WITHDRAWAL","instruction":{"clientInstructionId":7013048,"accountId":"U46377","bankInstructionName":"Test Withdrawal","bankInstructionMethod":"WIRE","amount":123.45,"currency":"GBP","dateTimeToOccur":"2023-11-20T09:12:13Z"}}},"Withdraw Funds - IRA":{"value":{"instructionType":"WITHDRAWAL","instruction":{"clientInstructionId":7013049,"accountId":"U399192","bankInstructionName":"Test Withdrawal","bankInstructionMethod":"WIRE","amount":123.45,"currency":"GBP","dateTimeToOccur":"2023-11-20T09:12:13Z","iraWithdrawalDetail":{"fedIncomeTaxPercentage":10,"stateIncomeTaxPercentage":12,"stateCd":"TE","iraWithholdType":"NORMAL"}}}},"Withdraw Funds - Recurring":{"value":{"instructionType":"WITHDRAWAL","instruction":{"clientInstructionId":7013050,"accountId":"U46377","bankInstructionName":"Test Withdrawal","bankInstructionMethod":"WIRE","amount":123.45,"currency":"GBP","dateTimeToOccur":"2023-11-20T09:12:13Z","iraWithdrawalDetail":{"fedIncomeTaxPercentage":10,"stateIncomeTaxPercentage":12,"stateCd":"TE","iraWithholdType":"NORMAL"},"recurringInstructionDetail":{"instructionName":"Arkansas-Test-Instr","startDate":"2023-10-16","frequency":"MONTHLY"}}}}}}},"required":true},"responses":{"202":{"description":"Accepts request to create a new instruction asynchronously","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AsynchronousInstructionResponse"},"examples":{"Deposit Funds":{"value":{"instructionResult":{"clientInstructionId":7008143,"instructionType":"DEPOSIT","instructionStatus":"PENDING","instructionId":43092468},"instructionSetId":2480,"status":202}},"Withdraw Funds":{"value":{"instructionResult":{"clientInstructionId":12000862,"instructionType":"WITHDRAWAL","instructionStatus":"PROCESSED","instructionId":43092641,"ibReferenceId":132123},"instructionSetId":2719,"status":202}}}}}},"400":{"description":"Returns a Problem detail instance representing a bad request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/MissingRequiredParameterResponse"},"examples":{"Response":{"value":{"type":"/invalid-argument","title":"Bad Request","status":400,"detail":"Input is not a JSON Object or doesn't contain all expected fields","invalidArguments":[{"field":"iraContributionType","description":"Invalid or Missing required parameter"},{"field":"iraTaxYearType","description":"Invalid or Missing required parameter"}]}}}}}},"403":{"description":"Returns a Problem detail instance representing a forbidden request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ForbiddenInstructionResponse"},"examples":{"Response":{"value":{"type":"/simple","title":"Forbidden","status":403,"detail":"Permission denied- Insufficient rights for using resource","instructionSetId":2452,"instructionResult":{"clientInstructionId":7008120,"instructionType":"DEPOSIT","instructionStatus":"REJECTED","instructionId":43092438,"error":{"errorCode":"ERROR_PERMISSION_DENIED","errorMessage":"Permission denied- Insufficient rights for using resource"}}}}}}}},"422":{"description":"Returns a Problem detail instance representing a business error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/BusinessRejectResponse"},"examples":{"Response":{"value":{"type":"/simple","title":"Business Error","status":422,"detail":"Funds & Banking: Server cannot process your request because it contains invalid data","instructionSetId":2591,"instructionResult":{"clientInstructionId":7008150,"instructionType":"DEPOSIT","instructionStatus":"REJECTED","instructionId":43092565,"error":{"errorCode":"NOT_IRA_ACCOUNT","errorMessage":"Account U46377 is not IRA"}}}}}}}},"500":{"description":"Returns a Problem detail instance representing an internal server error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}},"x-ib-gateway-provider-name":"fb","x-ib-gateway-security-policy":"SIGNED_JWT","x-ib-gateway-allowed-scopes":["transfers.write"]}},"/gw/api/v1/external-cash-transfers/query":{"post":{"tags":["Account Management Banking"],"summary":"View Cash Balances","description":"View available cash for withdrawal with and without margin loan by accountId<br><br>**Scope**: `transfers.read`<br>**Security Policy**: `Signed JWT`","parameters":[{"$ref":"#/components/parameters/clientIdPathParam"}],"requestBody":{"description":"Create an external cash transfer query request body","content":{"application/json":{"schema":{"required":["instruction","instructionType"],"properties":{"instructionType":{"type":"string","enum":["QUERY_WITHDRAWABLE_FUNDS","QUERY_IRA_CONTRIBUTIONS"]},"instruction":{"oneOf":[{"$ref":"#/components/schemas/QueryWithdrawableFunds"},{"$ref":"#/components/schemas/QueryIRAContributions"}]}}},"examples":{"Query Withdrawable Funds":{"value":{"instructionType":"QUERY_WITHDRAWABLE_FUNDS","instruction":{"clientInstructionId":7009005,"accountId":"U87440","currency":"USD"}}},"Query Withdrawable Funds Without Origination Hold":{"value":{"instructionType":"QUERY_WITHDRAWABLE_FUNDS","instruction":{"clientInstructionId":7009006,"accountId":"U139838","currency":"USD","bankRoutingNumber":"122199983","bankAccountNumber":"9876543210"}}},"Query IRA Contributions":{"value":{"instructionType":"QUERY_IRA_CONTRIBUTIONS","instruction":{"clientInstructionId":7009007,"accountId":"U68903","year":"2003"}}}}}},"required":true},"responses":{"201":{"description":"Instruction successfully created and processed synchronously","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/QueryWithdrawableAmountsResponse"},{"$ref":"#/components/schemas/QueryWithdrawableAmountsWithoutOriginHoldResponse"}]},"examples":{"Query Withdrawable Funds":{"value":{"status":201,"instructionSetId":17791,"instructionResult":{"accountId":"U46377","currency":"EUR","withdrawableAmount":0,"withdrawableAmountNoBorrow":0,"allowedTransferAmountToMaster":0,"allowedTransferAmountToMasterNoBorrow":0,"ibReferenceId":0,"clientInstructionId":7013230,"instructionType":"QUERY_WITHDRAWABLE_FUNDS","instructionStatus":"PROCESSED","instructionId":43133309}}},"Query Withdrawable Funds Without Origination Hold":{"value":{"status":201,"instructionSetId":17791,"instructionResult":{"accountId":"U46377","currency":"EUR","withdrawableAmountWithoutOriginationHold":0,"withdrawableAmountWithoutOriginationHoldNoBorrow":0,"ibReferenceId":0,"clientInstructionId":7013230,"instructionType":"QUERY_WITHDRAWABLE_FUNDS","instructionStatus":"PROCESSED","instructionId":43133309}}}}}}},"202":{"description":"Accepts request to create a new instruction asynchronously","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/AsynchronousInstructionResponse"}]},"examples":{"Query IRA Contributions":{"value":{"status":202,"instructionSetId":18640,"instructionResult":{"accountId":"U1032333","year":"2022","ibReferenceId":0,"clientInstructionId":7013306,"instructionType":"QUERY_IRA_CONTRIBUTIONS","instructionStatus":"PENDING","instructionId":43134474,"description":"Query is being processed. Please poll for status 1 minutes later using FB status endpoint. No new queries will be allowed before this one is processed "}}}}}}},"400":{"description":"Returns a Problem detail instance representing a bad request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/MissingRequiredParameterResponse"},"examples":{"Response":{"value":{"type":"/invalid-argument","title":"Bad Request","status":400,"detail":"Input is not a JSON Object or doesn't contain all expected fields","invalidArguments":[{"field":"templateName","description":"Missing required parameter"}]}}}}}},"403":{"description":"Returns a Problem detail instance representing a forbidden request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ForbiddenInstructionResponse"},"examples":{"Response":{"value":{"type":"/simple","title":"Forbidden","status":403,"detail":"Permission denied- Insufficient rights for using resource","instructionSetId":2445,"instructionResult":{"clientInstructionId":12000610,"instructionType":"QUERY_WITHDRAWABLE_FUNDS","instructionStatus":"REJECTED","instructionId":43092429,"error":{"errorCode":"ERROR_PERMISSION_DENIED","errorMessage":"Permission denied- Insufficient rights for using resource"}}}}}}}},"422":{"description":"Returns a Problem detail instance representing a business error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/BusinessRejectResponse"},"examples":{"Response":{"value":{"type":"/simple","title":"Business Error","status":422,"detail":"Funds & Banking: Server cannot process your request because it contains invalid data","instructionSetId":2616,"instructionResult":{"clientInstructionId":7008155,"instructionType":"QUERY_WITHDRAWABLE_FUNDS","instructionStatus":"REJECTED","instructionId":43092592,"error":{"errorCode":"CORRUPT_DATA_INVALID_ACCT","errorMessage":"Account U463756 does not exist"}}}}}}}},"500":{"description":"Returns a Problem detail instance representing an internal server error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}},"x-ib-gateway-provider-name":"fb","x-ib-gateway-security-policy":"SIGNED_JWT","x-ib-gateway-allowed-scopes":["transfers.read"]}},"/gw/api/v1/forms":{"get":{"tags":["Account Management Utilities"],"summary":"Get Forms","description":"Get forms<br><br>**Scope**: `accounts.read` OR `forms.read`<br>**Security Policy**: `HTTPS`","parameters":[{"name":"formNo","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"getDocs","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string"}},{"name":"fromDate","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string"}},{"name":"toDate","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string"}},{"name":"language","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string"}},{"name":"projection","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string","default":"NONE","enum":["PAYLOAD","DOCS","NONE"]}}],"responses":{"500":{"description":"Returns error description representing internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"415":{"description":"Unsupported Media Type","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"400":{"description":"Returns error description representing bad request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}},"200":{"description":"Get forms","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFileResponse"}}}},"401":{"description":"Returns error description representing access issue","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetailResponse"}}}}},"x-ib-gateway-provider-name":"eca","x-ib-gateway-security-policy":"HTTPS","x-ib-gateway-allowed-scopes":["accounts.read","forms.read"]}},"/gw/api/v1/instruction-sets/{instructionSetId}":{"get":{"tags":["Account Management Banking"],"summary":"Get Status For InstructionSetId","description":"Retrieve status of all requests associated with instructionSetId.<br><br>**Scope**: `instructions.read`<br>**Security Policy**: `HTTPS`","parameters":[{"$ref":"#/components/parameters/clientIdPathParam"},{"$ref":"#/components/parameters/instructionSetIdPathParam"}],"responses":{"200":{"description":"Returns the status multiple instructions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkMultiStatusResponse"},"examples":{"Response":{"value":{"status":200,"instructionSetId":9094,"instructionResults":[{"status":202,"instructionSetId":9094,"instructionResult":{"clientInstructionId":1012983,"instructionType":"INTERNAL_CASH_TRANSFER","instructionStatus":"PENDING","instructionId":45123654}},{"type":"/simple","title":"Business Error","status":422,"instructionSetId":9094,"instructionResult":{"clientInstructionId":1012983,"instructionType":"INTERNAL_CASH_TRANSFER","instructionStatus":"PENDING","instructionId":45123654,"error":{"errorCode":"string","errorMessage":"string"}}},{"type":"/invalid-argument","title":"Bad Request","status":400,"detail":"Input is not a JSON Object or doesn't contain all expected fields","invalidArguments":[{"field":"instructionId","description":"Missing required parameter"}]}]}}}}}},"404":{"description":"Returns a Problem detail instance representing a not found request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NoSuchInstructionSetResponse"}}}},"500":{"description":"Unable to process request due to an Internal Error. Please try again later.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}},"x-ib-gateway-provider-name":"fb","x-ib-gateway-security-policy":"HTTPS","x-ib-gateway-allowed-scopes":["instructions.read"]}},"/gw/api/v1/instructions/cancel":{"post":{"tags":["Account Management Banking"],"summary":"Cancel Request","description":"Cancel request by instructionId.<br><br>**Scope**: `instructions.read`<br>**Security Policy**: `Signed JWT`","parameters":[{"$ref":"#/components/parameters/clientIdPathParam"}],"requestBody":{"content":{"application/json":{"schema":{"required":["instruction","instructionType"],"properties":{"instructionType":{"type":"string","enum":["CANCEL_INSTRUCTION"]},"instruction":{"allOf":[{"$ref":"#/components/schemas/CancelInstruction"}]}}},"examples":{"Cancel Instruction":{"value":{"instructionType":"CANCEL_INSTRUCTION","instruction":{"clientInstructionId":12001810,"instructionId":43085477,"reason":"Testing"}}}}}},"required":true},"responses":{"201":{"description":"Instruction successfully created and processed synchronously","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SynchronousInstructionResponse"},"examples":{"Response":{"value":{"instructionResult":{"clientInstructionId":12001810,"instructionType":"CANCEL_INSTRUCTION","instructionStatus":"PROCESSED","instructionId":43094179},"instructionSetId":3763,"status":201}}}}}},"400":{"description":"Returns a Problem detail instance representing a bad request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/MissingRequiredParameterResponse"},"examples":{"Response":{"value":{"type":"/invalid-argument","title":"Bad Request","status":400,"detail":"Input is not a JSON Object or doesn't contain all expected fields","invalidArguments":[{"field":"instructionId","description":"Missing required parameter"}]}}}}}},"403":{"description":"Returns a Problem detail instance representing a forbidden request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ForbiddenInstructionResponse"},"examples":{"Response":{"value":{"type":"/simple","title":"Forbidden","status":403,"detail":"Permission denied- Insufficient rights for using resource","instructionSetId":3766,"instructionResult":{"clientInstructionId":12001813,"instructionType":"CANCEL_INSTRUCTION","instructionStatus":"REJECTED","instructionId":43094182,"error":{"errorCode":"ERROR_PERMISSION_DENIED","errorMessage":"Permission denied- Insufficient rights for using resource"}}}}}}}},"422":{"description":"Returns a Problem detail instance representing a business error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/BusinessRejectResponse"},"examples":{"Response":{"value":{"type":"/simple","title":"Business Error","status":422,"detail":"Funds & Banking: Server cannot process your request because it contains invalid data","instructionSetId":3765,"instructionResult":{"clientInstructionId":12001812,"instructionType":"CANCEL_INSTRUCTION","instructionStatus":"REJECTED","instructionId":43092592,"error":{"errorCode":"ERROR_INSTR_ID_AND_CP_NOT_RELATED","errorMessage":"Instruction Id: 43092775 not related to counterparty qatester"}}}}}}}},"500":{"description":"Returns a Problem detail instance representing an internal server error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}},"x-ib-gateway-provider-name":"fb","x-ib-gateway-security-policy":"SIGNED_JWT","x-ib-gateway-allowed-scopes":["instructions.read"]}},"/gw/api/v1/instructions/query":{"post":{"tags":["Account Management Banking"],"summary":"Get Transaction History","description":"Query list of recent transactions (up to 30 days) based on accountId.<br><br>**Scope**: `instructions.read`<br>**Security Policy**: `Signed JWT`","parameters":[{"$ref":"#/components/parameters/clientIdPathParam"}],"requestBody":{"description":"Create recent instructions request body","content":{"application/json":{"schema":{"required":["instruction","instructionType"],"properties":{"instructionType":{"type":"string","enum":["QUERY_RECENT_INSTRUCTIONS"]},"instruction":{"allOf":[{"$ref":"#/components/schemas/QueryRecentInstructions"}]}}},"examples":{"Query Recent Instructions":{"value":{"instructionType":"QUERY_RECENT_INSTRUCTIONS","instruction":{"clientInstructionId":7009001,"accountId":"U139838","transactionHistory":{"daysToGoBack":3,"transactionType":"ACH_INSTRUCTION"}}}},"Query Recent Instructions - Transaction Type not specified":{"value":{"instructionType":"QUERY_RECENT_INSTRUCTIONS","instruction":{"clientInstructionId":7009001,"accountId":"U139838","transactionHistory":{"daysToGoBack":3}}}}}}},"required":true},"responses":{"202":{"description":"Accepts request to create a new instruction asynchronously","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AsynchronousInstructionResponse"},"examples":{"Query Recent Instructions":{"value":{"instructionResult":{"ibReferenceId":0,"clientInstructionId":7009001,"instructionType":"QUERY_RECENT_INSTRUCTIONS","instructionStatus":"PENDING","instructionId":43094002,"code":"PENDING","description":"Query is being processed. Please poll for status 1 minutes later using FB status endpoint. No new queries will be allowed before this one is processed"},"instructionSetId":3702,"status":202}},"Query Recent Instructions - Transaction Type not specified":{"value":{"instructionResult":{"ibReferenceId":0,"clientInstructionId":7009001,"instructionType":"QUERY_RECENT_INSTRUCTIONS","instructionStatus":"PENDING","instructionId":43094002,"code":"PENDING","description":"Query is being processed. Please poll for status 1 minutes later using FB status endpoint. No new queries will be allowed before this one is processed"},"instructionSetId":3702,"status":202}}}}}},"400":{"description":"Returns a Problem detail instance representing a bad request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/MissingRequiredParameterResponse"},"examples":{"Response":{"value":{"type":"/invalid-argument","title":"Bad Request","status":400,"detail":"Input is not a JSON Object or doesn't contain all expected fields","invalidArguments":[{"field":"templateName","description":"Missing required parameter"}]}}}}}},"403":{"description":"Returns a Problem detail instance representing a forbidden request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ForbiddenInstructionResponse"},"examples":{"Response":{"value":{"type":"/simple","title":"Forbidden","status":403,"detail":"Permission denied- Insufficient rights for using resource","instructionSetId":2445,"instructionResult":{"clientInstructionId":12000610,"instructionType":"QUERY_RECENT_INSTRUCTIONS","instructionStatus":"REJECTED","instructionId":43092429,"error":{"errorCode":"ERROR_PERMISSION_DENIED","errorMessage":"Permission denied- Insufficient rights for using resource"}}}}}}}},"422":{"description":"Returns a Problem detail instance representing a business error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/BusinessRejectResponse"},"examples":{"Response":{"value":{"type":"/simple","title":"Business Error","status":422,"detail":"Funds & Banking: Server cannot process your request because it contains invalid data","instructionSetId":2616,"instructionResult":{"clientInstructionId":7008155,"instructionType":"QUERY_RECENT_INSTRUCTIONS","instructionStatus":"REJECTED","instructionId":43092592,"error":{"errorCode":"CORRUPT_DATA_INVALID_ACCT","errorMessage":"Account U1 does not exist"}}}}}}}},"500":{"description":"Returns a Problem detail instance representing an internal server error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}},"x-ib-gateway-provider-name":"fb","x-ib-gateway-security-policy":"SIGNED_JWT","x-ib-gateway-allowed-scopes":["instructions.read"]}},"/gw/api/v1/instructions/{instructionId}":{"get":{"tags":["Account Management Banking"],"summary":"Get Status For InstructionId","description":"Retrieve status of request by instructionId<br><br>**Scope**: `instructions.read`<br>**Security Policy**: `HTTPS`","parameters":[{"$ref":"#/components/parameters/clientIdPathParam"},{"$ref":"#/components/parameters/instructionIdPathParam"}],"responses":{"200":{"description":"Returns the status of an instruction.","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/InstructionPollingResponse"},{"$ref":"#/components/schemas/InstructionResponse"},{"$ref":"#/components/schemas/QueryRecentInstructionResponse"},{"$ref":"#/components/schemas/DepositFundsPollingResponse"},{"$ref":"#/components/schemas/QueryIRAContributionsResponse"}]},"examples":{"Polling Status Pending":{"value":{"status":200,"instructionResult":{"clientInstructionId":7008156,"instructionType":"INTERNAL_CASH_TRANSFER","instructionStatus":"PENDING","instructionId":43092595},"instructionSetId":2650}},"Polling Status Processed":{"value":{"status":200,"instructionResult":{"clientInstructionId":7008157,"instructionType":"INTERNAL_CASH_TRANSFER","instructionStatus":"PROCESSED","instructionId":43092596},"instructionSetId":2651}},"Polling Status Query Recent Instruction":{"value":{"status":200,"instructionSetId":881283,"instructionResult":{"instructionHistory":{"historyMaxDepthNumberOfDays":30,"historyMaxDepthNumberOfInstruction":100000,"result":[{"clientInstructionId":13050537,"ibInstructionId":703818364,"instructionType":"COMPLEX_ASSET_TRANSFER","requestDate":"2025-11-04T02:24:34-05","status":"PENDING","instructionSetId":880975},{"clientInstructionId":13050538,"ibInstructionId":703818365,"instructionType":"COMPLEX_ASSET_TRANSFER","requestDate":"2025-11-04T02:24:34-05","status":"PENDING","instructionSetId":880975},{"clientInstructionId":13050345,"ibInstructionId":703817905,"instructionType":"COMPLEX_ASSET_TRANSFER","requestDate":"2025-11-03T05:49:59-05","status":"PENDING","instructionSetId":880743}]},"ibReferenceId":0,"clientInstructionId":13050607,"instructionType":"QUERY_RECENT_INSTRUCTIONS","instructionStatus":"PROCESSED","instructionId":703818683}}},"Polling Status - Deposit Instruction":{"value":{"status":200,"instructionSetId":3673,"instructionResult":{"ibReferenceId":166903389,"clientInstructionId":1091115677,"instructionType":"DEPOSIT","instructionStatus":"PROCESSED","instructionId":11177823}}},"Polling Status - Query IRA Contributions":{"value":{"status":200,"instructionSetId":18642,"instructionResult":{"accountId":"U68903","year":"2003","iraType":"ROTH NEW","contributions":[{"maximumContributionLimit":4000,"yearToDateContribution":3500,"allowedContributionLimit":500}],"ibReferenceId":0,"clientInstructionId":7013308,"instructionType":"QUERY_IRA_CONTRIBUTIONS","instructionStatus":"PROCESSED","instructionId":43134476}}},"Polling Status - Query IRA Contributions (SEP Accounts)":{"value":{"status":200,"instructionSetId":18640,"instructionResult":{"accountId":"U1032333","year":"2022","iraType":"SEP","contributions":[{"type":"EMPLOYEE","maximumContributionLimit":7000,"yearToDateContribution":0},{"type":"EMPLOYER","maximumContributionLimit":58000,"yearToDateContribution":0}],"ibReferenceId":0,"clientInstructionId":7013306,"instructionType":"QUERY_IRA_CONTRIBUTIONS","instructionStatus":"PROCESSED","instructionId":43134474}}}}}}},"208":{"description":"Client tried to reuse the same instructionId for more than one transaction. Returning the status for the first registered transaction under given instructionId (when there were no duplicates yet). Reconcile based on instructionSetId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstructionResponse"},"examples":{"Response":{"value":{"status":208,"instructionResult":{"clientInstructionId":1013025,"instructionType":"INTERNAL_CASH_TRANSFER","instructionStatus":"REJECTED","instructionId":43091799,"error":{"errorCode":"CORRUPT_DATA_INVALID_ACCT","errorMessage":"Account U1 does not exist"}},"instructionSetId":1686}}}}}},"404":{"description":"Returns a Problem detail instance representing a not found request.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NoSuchInstructionResponse"},"examples":{"Response":{"value":{"type":"/simple","title":"Not found","status":404,"detail":"Funds & Banking: Could not get status for clientId: qatester, transactionId : 72308156"}}}}}},"500":{"description":"Unable to process request due to an Internal Error. Please try again later.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}},"x-ib-gateway-provider-name":"fb","x-ib-gateway-security-policy":"HTTPS","x-ib-gateway-allowed-scopes":["instructions.read"]}},"/gw/api/v1/internal-asset-transfers":{"post":{"tags":["Account Management Banking"],"summary":"Transfer Positions Internally","description":"Transfer positions internally b
[...]
