apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config-files
  namespace: postgres
  labels:
    app: postgres
data:
  init_database.sh: |
    #!/bin/bash
    set -e

    POSTGRES="psql -d ${POSTGRES_DB} --username ${POSTGRES_USER}"

    echo "Creating database schemas in $POSTGRES_DB"

    echo "Creating database schema ${POSTGRES_SCHEMA}"

    $POSTGRES <<-ESQL
    \connect ${POSTGRES_DB};
    SET SESSION AUTHORIZATION ${POSTGRES_USER};
    CREATE SCHEMA IF NOT EXISTS ${POSTGRES_SCHEMA};
    CREATE EXTENSION IF NOT EXISTS plpython3u;
    ESQL

    echo "Database schema ${POSTGRES_SCHEMA} created"

    # Create noetl user and schema
    echo "Creating noetl user and schema"

    $POSTGRES <<-ESQL
    \connect ${POSTGRES_DB};
    SET SESSION AUTHORIZATION ${POSTGRES_USER};

    -- Create noetl user if it doesn't exist
    DO \$\$
    BEGIN
      IF NOT EXISTS (SELECT FROM pg_catalog.pg_roles WHERE rolname = '${NOETL_USER}') THEN
        CREATE USER ${NOETL_USER} WITH PASSWORD '${NOETL_PASSWORD}' CREATEDB LOGIN;
      END IF;
    END
    \$\$;

    -- Create noetl schema if it doesn't exist
    CREATE SCHEMA IF NOT EXISTS ${NOETL_SCHEMA};

    -- Grant privileges to noetl user
    GRANT ALL PRIVILEGES ON SCHEMA ${NOETL_SCHEMA} TO ${NOETL_USER};
    GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA ${NOETL_SCHEMA} TO ${NOETL_USER};
    GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA ${NOETL_SCHEMA} TO ${NOETL_USER};
    ALTER DEFAULT PRIVILEGES IN SCHEMA ${NOETL_SCHEMA} GRANT ALL ON TABLES TO ${NOETL_USER};
    ALTER DEFAULT PRIVILEGES IN SCHEMA ${NOETL_SCHEMA} GRANT ALL ON SEQUENCES TO ${NOETL_USER};
    ESQL

    echo "Noetl user and schema created"

    $POSTGRES -v SCHEMA_NAME=${POSTGRES_SCHEMA} -f /docker-entrypoint-initdb.d/schema_ddl.sql.norun --echo-all

    echo "Database schema ${POSTGRES_USER} objects created"


  schema_ddl.sql.norun: |
    patched from task file - do not run directly

  postgresql.conf: |
    # PostgreSQL configuration file
    # -----------------------------
    #
    # This file consists of lines of the form:
    #
    #   name = value
    #
    # (The "=" is optional.)  Whitespace may be used.  Comments are introduced with
    # "#" anywhere on a line.  The complete list of parameter names and allowed
    # values can be found in the PostgreSQL documentation.
    #
    # The commented-out settings shown in this file represent the default values.
    # Re-commenting a setting is NOT sufficient to revert it to the default value;
    # you need to reload the server.
    #
    # This file is read on server startup and when the server receives a SIGHUP
    # signal.  If you edit the file on a running system, you have to SIGHUP the
    # server for the changes to take effect, run "pg_ctl reload", or execute
    # "SELECT pg_reload_conf()".  Some parameters, which are marked below,
    # require a server shutdown and restart to take effect.
    #
    # Any parameter can also be given as a command-line option to the server, e.g.,
    # "postgres -c log_connections=on".  Some parameters can be changed at run time
    # with the "SET" SQL command.
    #
    # Memory units:  B  = bytes            Time units:  us  = microseconds
    #                kB = kilobytes                     ms  = milliseconds
    #                MB = megabytes                     s   = seconds
    #                GB = gigabytes                     min = minutes
    #                TB = terabytes                     h   = hours
    #                                                   d   = days

    # File Locations
    data_directory = '/var/lib/postgresql/data'
    hba_file = '/var/lib/postgresql/data/pg_hba.conf'
    ident_file = '/var/lib/postgresql/data/pg_ident.conf'

    # Connections and Authentication
    listen_addresses = '*'
    port = 5432
    max_connections = 100
    
    # Memory
    shared_buffers = 128MB
    
    # Logging
    log_destination = 'stderr'
    logging_collector = on
    log_directory = 'log'
    log_filename = 'postgresql-%Y-%m-%d_%H%M%S.log'
    log_truncate_on_rotation = off
    log_rotation_age = 1d
    log_rotation_size = 10MB
    
    # Locale and Formatting
    datestyle = 'iso, mdy'
    timezone = 'UTC'
    lc_messages = 'en_US.utf8'
    lc_monetary = 'en_US.utf8'
    lc_numeric = 'en_US.utf8'
    lc_time = 'en_US.utf8'
    
    # Miscellaneous
    dynamic_shared_memory_type = posix
