name: "Build image on Release ⚙️"

on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read
  packages: write

jobs:
  build_deploy:
    name: build
    timeout-minutes: 10
    runs-on: ubuntu-latest

    env:
      IMAGE_TAG: ${{ github.event.release.tag_name }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name }}  

      # Access must be provided on the package level
      # https://github.com/orgs/noetl/packages/container/noetl/settings
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          file: docker/noetl/dev/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/noetl/noetl:${{ env.IMAGE_TAG }}
            ghcr.io/noetl/noetl:latest
